body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:white;
    padding: 5px 10px;
    box-shadow: 0 2px 4px #089da1; 
}
.logo img {
    width: 5vw;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
nav ul li {
    margin: 0 10px;
}
nav ul li a {
    text-decoration: none;
    font-size: 1rem; 
    color: #3a3a3a;
    font-weight:normal; 
}
.icons a {
    margin-left: 0.3rem; 
    color:#000000;
    text-decoration: none;
}
.icons a .fas {
    font-size: 1rem; 
}
.overlay-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem; 
    margin-bottom: 1rem;
    position:relative;
    margin-top :-5rem;
    background-image: url(bg.png);
    background-size:100%;
    background-position:top;
    height: 100vh;
}
.overlay {
    flex: 1;
    margin-right: 1.2rem; 
}
.welcome-text {
    font-size: 2.5em; 
    font-weight: bold;
    color:#000000; 
    margin-top: 3em;
    padding-left: 1em;
}
.book-store {
    font-size: 2.5em;
    font-weight: bold;
    color:#089da1; 
    padding-left: 1em;
}
.Paragraph1 {
    margin: 2em 2em; 
    color: #666; 
    text-align: left; 
    width: 80%;
    font-size: small;
}
.learn-more {
    display: inline-block; 
    padding: 10px 20px;
    background-color:#089da1; 
    color:#ffffff;
    text-decoration: none; 
    text-align: center;
    margin-left: 2em; 
    font-size: 0.75rem; 
    width: 4rem; 
    height: 0.8rem;
}
.book-image {
    flex: 1;
/*    display: flex;  */
    justify-content: center;
    align-items: center;
}
.book-image img {
    width: 90%;
    height:100%;
}
.container {
    display: flex;
    justify-content: space-around; 
    padding: 1.2rem; 
    gap: 1.2rem; 
}
.service-box {
    padding-top: 0.6rem; 
    text-align: center; 
    box-shadow: 0px 0px 5px 0px #089da1; 
    width: 15rem; 
    height: 6.88rem; 
}
.service-box i {
    font-size: 2em; 
    color: #089da1; 
    margin-bottom: 0.6rem; 
}
.service-title {
    font-size: 0.94rem; 
    font-weight: bolder; 
    margin: 0.3rem 0; 
}
.service-text {
    font-size: 0.88rem; 
    color: #666; 
}
.about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.2rem; 
    border-radius: 0.6rem; 
    overflow: hidden;
}
.about-section .image-section,
.about-section .text-section {
    flex: 1;
    padding: 1.2rem; 
}
.about-section .image-section img {
    width: 100%;
    height: 100%;
}
.about-section .text-section h1 {
    margin: 0;
    font-size: 2em;
    padding-left:3rem;
}
.about-section .text-section p {
    margin: 1.2rem 0; 
    line-height: 1.4;
    color: #333;
    text-justify:inter-word;
    font-size: 0.88rem;
    padding-left:3rem;
}
.about-section .text-section button {
    padding: 0.3rem 0.6rem;   
    background-color: #089da1; 
    color: white;
    border: none;
    cursor: pointer;
    font-size: 0.75rem; 
    width: 6.88rem; 
    height: 1.88rem; 
    margin-top: 1.2rem;
    margin-left:3rem;
/*    align-self: flex-start; */ 
    text-align: center;
}
.reviews {
    text-align: center;
    align-items: center;
    margin-left: 2%;
    margin-right: 2%;
    padding: 1.2rem;      
}
.review {
    display: inline-block; 
    width: 20%;
    max-width: 80%;
    height:90%;
    margin-right: 1rem;
    margin-top: 3.75rem;    
    margin-bottom: 2rem; 
    padding: 1rem;
    position: relative;
    box-shadow: 0px 0px 5px 0px #90d3d5;
    flex-direction: column;
}
.review h3 {
    text-align: left;
}
.review p {
    font-size:medium;
    justify-content:flex-start;
}
.review img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    object-fit: cover;
}
.review .quote-icon {
    position: absolute;
    top: 0;
    right: 0.5rem;
    opacity: 0.1;
    font-size: 6rem; 
}
.review p {
    line-height: 1.3;
    text-align: left;
    font-size: 0.94rem;
}
.review .stars {
    color:#089da1;
    margin-top: 1rem; 
    text-align: left;
}
.digital-book{
    position: relative;
    overflow: hidden;
}
.digital-book img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.button {
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 70%;
    left: 11.5%;
    transform: translate(-50%,-50%);      
    background-color:#089da1; 
    color: white;
    text-decoration: none;
/*    font-size: 1em;    */
    border: none;
    cursor: pointer;
    font-size: 0.75rem; 
    width: 6.88rem; 
    height: 1.88rem; 
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.featured-books-section {
    text-align: center;
    padding: 20px;
}

.book-list {
    display: flex;
    justify-content: space-around;
    overflow-x: scroll;
}

::-webkit-scrollbar{
    width: 10px;
    height: 5px;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 8px rgba(0,0,0,.5);
}
::-webkit-scrollbar-thumb{
    background: #089da1;
    border-radius: 10px;
}

   

.book-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0px;
    margin: 10px;
    padding: 10px;
    width: 15%;
    max-height: 40%;
    box-shadow: 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex-shrink: 0;
}

.book-item:hover{
    border: 2px solid; 
    border-color: rgb(22, 204, 207);
}

.book-item img {
    width: 80%;
    height: auto;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
    
}

.book-item h2 {
    font-size: 18px;
    margin: 10px 0;
}

.book-item p {
    margin: 5px 0;
}

.book-item .genres {
    color: rgb(22, 204, 207);
    font-size: 14px;
}

.book-item .price {
    font-size: 16px;
    color: #333;
}

.book-item .original-price {
    text-decoration: line-through;
    color: #999;
    font-size: 14px;
    margin-left: 5px;
}

.book-item button {
    color: black;
    border: 2px solid rgb(22, 204, 207) ;
    padding: 10px 20px;
    border-radius: 0px;
    cursor: pointer;
}

.book-item button:hover {
    background-color: rgb(22, 204, 207);
}

.container2 {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.stars{
    color: #089da1;
    margin-bottom: 5px;
}
.book-grid{
    display: flex;
    flex-wrap: wrap;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.blog-section {
    text-align:center;
    padding: 20px;
}

.blog-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.blog-card {
    flex-shrink: 0;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 0px;
    width: 25%;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.454);
    text-align:left;
    color: #4ca2af;
}

.blog-card img {
    width: 100%;
    height: 50%;
    border-radius: 0px;
    object-fit: cover;
    aspect-ratio: 4/3;
}
.blog-card h2{
    color:#089da1;
    padding-left: 15px;
}
.blog-card 
.blog-text{
    margin: 15px;
    color:#000000;
    font-family:Arial, sans-serif ;
    font-size:small;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #3333331a;
    color: #000000;
}

.footer-logo,
.footer-links,
.footer-contact,
.footer-follow,
.footer-newsletter {
    flex: 1 1 200px;
    margin: 15px;
}
.footer-links ul,
.footer-follow ul{
    list-style-type:none;
    padding: 0;
}
.footer-logo img {
    width: 100px;
    height: auto;
}
.footer-follow a{
    padding: 0.2em;
}


.footer-links a,
.footer-follow a {
    color: #000000;
    text-decoration: none;
}

.footer-links a:hover,
.footer-follow a:hover {
    text-decoration: underline;
}


.footer-newsletter input {
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 20px;
    background-color: #33333326;
}
.footer-newsletter button {
    margin-top: 10px;
    padding: 10px;
    background-color: #4ca2af;
    border: none;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
}
